.descarga{
  font-weight: 500;
  font-size: 16px;
}

@media (max-width: 650px) {

  .descarga{
    display: none;
  }
  .icono{
    margin-left: 2vh;
    margin-right: 0;
  }
}

@media (max-width: 413px) {

  .tarjeta2{
    width: 95%;
  }
  .icono{
    margin: 0;
  }

}

@media (max-width: 380px) {

  .tarjeta2{
    width: 85%;
  }


}

@media (max-width: 350px) {

    .tarjeta{
      width: 95%;
    }
    .tarjeta2{
      width: 80%;
    }
  }

  @media (max-width: 330px) {

    .tarjeta{
      width: 88%;
    }

    .tarjeta2{
      width: 75%;
    }
  }

  @media (max-width: 320px) {

    .tarjeta{
      width: 85%;
    }

  }