.descarga{
  font-weight: 500;
  font-size: 16px;
}

@media (max-width: 650px) {

  .descarga{
    display: none;
  }
  .icono{
    margin-left: 2vh;
    margin-right: 0;
  }
}




  @media (max-width: 330px) {

    .tarjeta{
      width: 75%;
      
    }

    .tarjeta2{
      width: 75%;
    }
  }

